/****************************************/
/*        Wizad panel top               */
/************************************** */

.wizadPanel {
	-fx-background-color: rgb(255,255,255);
	-fx-border-color: #0078D7;/*rgb(8,102,198)*/
	-fx-border-width: 2 1 2 2;
}

.wizadPanel > .label{
	-fx-text-fill: rgb(153,153,153);
}

.formNavActive {
	-fx-background-color: #0078D7;
}

.formNavActive > .label {
	-fx-text-fill: rgb(255,255,255);
}

.navHeaderTxt {
	-fx-font-weight: 700;
}